<?xml version="1.0"?>

<launch>
  <arg name="ns" default="vsemi_c320_camera"/>
  <arg name="nn" default="camera"/>

  <group ns="$(arg ns)">

    <node name="rviz" pkg="rviz" type="rviz" args= "-d $(find vsemi_c320_camera)/rviz/vsemi_c320_camera.rviz" > </node>
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"> </node>

  </group>
</launch>
